@use 'vars' as *;
@use 'predef' as *;

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:

        "cabecera"
        "contenido"
        "pie"

    ;

    #cabecera,
    #contenido,
    #pie {
        display: block;
        width: 100%;
    }

    #cabecera {
        grid-area: cabecera;
        background-color: map-get($color, "blanco");
        border-bottom: 1px solid map-get($color, "gris_04");
        padding: 0 5vw;
    }

    #contenido {
        grid-area: contenido;
        //height: 75svh;
        //background-color: chocolate;
    }

    #pie {
        grid-area: pie;
        height: 20svh;
        background-color: #333;
    }
}

#contenedor {

    .contenedor__subir {
        @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-around, $flx_bx_gap: 0);
        position: fixed;
        width: 38px;
        height: 38px;
        border-radius: 7px;
        border: 1px solid map-get($color, "gris_01");
        background-color: map-get($color, "gris_12");
        bottom: 2.65svh;
        right: -100%;
        padding: 3.65px 0.5px 0 0;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
        transition: .3s ease all;

        div {
            display: inline-block;
            font-size: 1.75rem;
            color: map-get($color, "gris_01");
            line-height: 5px !important;

            
        }
    }

    .contenedor__subir.activo {
        right: 5vw;
        transition: .3s linear all;
    }

    #cabecera {
        
        .cabecera__contenido,
        .cabecera__contenido--moviles {
            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-between, $flx_bx_gap: 0);
            height: 5svh;
        }

        .cabecera__contenido {
            display: none;
        }

        .cabecera__contenido--moviles {

            .cabecera__desplegable--menu {
                position: fixed;
                width: 100vw;
                height: 95svh;
                background-color: #000;
                top: 5svh;
                left: -150%;
                transition: .5s ease all;
                z-index: 999;
    
                ul {
                    list-style: none;
                    display: block;
                    width: 100%;
                    padding: 0 5vw;
                    margin: 3svh 0 0;
    
                    li {
                        display: block;
                        padding: 3svh 0;
                        text-align: center;
                        font-family: $fam_03;
                        color: map-get($color, "blanco");
                        font-size: 1.5rem;
                        font-weight: 500;
    
                        a {
                            text-transform: uppercase;
    
                            &:hover {
                                color: map-get($color, "gris_09");
                            }
                        }
    
                        div {
                            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-evenly, $flx_bx_gap: 0);
    
                            span {
                                color: map-get($color, "blanco");
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }
    
            .cabecera__desplegable--menu.activo {
                left: 0;
                transition: .3s linear all;
            }

            .cabecera__moviles--logo {
                @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: flex-start, $flx_bx_gap: 7px);

                img,
                .cabecera__moviles--titulo {
                    display: inline-block;
                }

                .cabecera__moviles--titulo {
                    height: 24px;

                    h1 {
                        font-family: $fam_02;
                        font-size: 1.5rem;
                        color: map-get($color, "negro");
                        margin: 0;
                        padding: 0;
                        line-height: 24px;
    
                        span {
                            font-family: $fam_01;
                        }
                    }
                }
            }

            .cabecera__moviles--btn {
                display: none;
                font-size: 1.5rem;
                color: map-get($color, "negro");
                height: 24px;
                transition: .3s linear all;
            }

            .cabecera__moviles--btn.activo {
                display: inline-block;
                transition: .3s ease all;
            }

        }

    }

    #contenido {

        .contenido__carrousel {
            height: 83svh;
            background-color: #000;
            background-image: url(../img/fondo_cabecera_buho.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow: hidden;
            padding: 5svh 5vw 0;

            .contenido__carrousel--slider {
                @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: flex-start, $flx_bx_juco: center, $flx_bx_gap: 0);
                width: 285vw;
                height: 76svh;
                transition: .5s ease all;

                .carrousel__slider--slide {
                    display: inline-block;
                    width: 33.33%;
                    height: 100%;
                    padding-right: 5vw;

                    h2 {
                        font-family: $fam_01;
                        margin-bottom: 7px;
                        font-size: 4.5rem;
                        text-shadow: 2px 2px map-get($color, "negro");
                        line-height: 0.79; 
                    }

                    p {
                        font-family: $fam_02;
                        font-size: 5svh;
                        text-shadow: 2px 2px map-get($color, "negro");
                        color: map-get($color, "gris_16");
                        max-height: 58svh;  
                    }

                    &:nth-child(1) {
                        h2 {
                            color: map-get($color, "naranja_02");
                        }
                    }
    
                    &:nth-child(2) {
                        h2 {
                            color: map-get($color, "verde_02");
                        }
                    }
    
                    &:nth-child(3) {
                        h2 {
                            color: map-get($color, "celeste_01");
                        }
                    }

                }

            }

        }

        .contenido__nosotros {
            //padding: 2.5svh 5vw 5svh;
            padding: 2.5svh 5vw 5svh;
            margin: 1px 0 0;

            h2 {
                font-family: $fam_01;
                text-align: center;
                font-size: 3.5rem;
                height: 3.5rem;
                line-height: 1.1;
                color: map-get($color, "gris_01");
                //margin-top: 2.5svh;
            }
        }

    }

}