.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9,
.flex-10,
.flex-11,
.flex-12 {
  display: flex;
}

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-9,
.flex-12 {
  flex-flow: row nowrap;
}

.flex-10,
.flex-11 {
  flex-flow: row wrap;
}

.flex-7,
.flex-8 {
  flex-flow: column nowrap;
}

.flex-1,
.flex-3,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-10 {
  align-items: center;
}

.flex-1,
.flex-4,
.flex-8,
.flex-11,
.flex-12 {
  justify-content: space-between;
}

.flex-2,
.flex-9,
.flex-11,
.flex-12 {
  align-items: flex-start;
}

.flex-4 {
  align-items: flex-end;
}

.flex-5,
.flex-9 {
  justify-content: space-around;
}

.flex-7 {
  justify-content: center;
}

.flex-6,
.flex-10 {
  justify-content: flex-start;
}

/*.flex-8 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}*/
.cabeza__extremos {
  display: inline-block;
  padding: 7px;
}

.scroll_horiz {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  margin: 0 0 20px;
}
.scroll_horiz::-webkit-scrollbar {
  display: none;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
*/
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue-Regular.woff) format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Pathway Gothic One";
  src: url(../fonts/PathwayGothicOne-Regular.woff) format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Urbanist";
  src: url(../fonts/Urbanist-Regular.woff) format("woff");
  font-display: auto;
}
html,
:root {
  font-size: 16px !important;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s !important;
  transition: background-color 600000s 0s, color 600000s 0s !important;
}

a {
  text-decoration: none;
  color: inherit;
}

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "cabecera" "contenido" "pie";
}
#contenedor #cabecera,
#contenedor #contenido,
#contenedor #pie {
  display: block;
  width: 100%;
}
#contenedor #cabecera {
  grid-area: cabecera;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  padding: 0 5vw;
}
#contenedor #contenido {
  grid-area: contenido;
}
#contenedor #pie {
  grid-area: pie;
  height: 20svh;
  background-color: #333;
}

#contenedor #cabecera .cabecera__contenido,
#contenedor #cabecera .cabecera__contenido--moviles {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  height: 5svh;
}
#contenedor #cabecera .cabecera__contenido {
  display: none;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu {
  position: fixed;
  width: 100vw;
  height: 95svh;
  background-color: #000;
  top: 5svh;
  left: -150%;
  transition: 0.5s ease all;
  z-index: 999;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0 5vw;
  margin: 3svh 0 0;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li {
  display: block;
  padding: 3svh 0;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li a {
  text-transform: uppercase;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li a:hover {
  color: #999;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li div span {
  color: #fff;
  font-size: 2.5rem;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu.activo {
  left: 0;
  transition: 0.3s linear all;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo {
  display: inline-block;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo {
  height: 24px;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 1.5rem;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo h1 span {
  font-family: "Bebas Neue", sans-serif;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn {
  display: none;
  font-size: 1.5rem;
  color: #000;
  height: 24px;
  transition: 0.3s linear all;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn.activo {
  display: inline-block;
  transition: 0.3s ease all;
}
#contenedor #contenido .contenido__carrousel {
  height: 83svh;
  background-color: #000;
  background-image: url(../img/fondo_cabecera_buho.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  padding: 5svh 5vw 0;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  width: 285vw;
  height: 76svh;
  transition: 0.5s ease all;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  padding-right: 5vw;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide h2 {
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 7px;
  font-size: 4.5rem;
  text-shadow: 2px 2px #000;
  line-height: 0.79;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide p {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 5svh;
  text-shadow: 2px 2px #000;
  color: #dedede;
  max-height: 58svh;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide:nth-child(1) h2 {
  color: #fb5504;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide:nth-child(2) h2 {
  color: #a2c523;
}
#contenedor #contenido .contenido__carrousel .contenido__carrousel--slider .carrousel__slider--slide:nth-child(3) h2 {
  color: #4cb5f5;
}
#contenedor #contenido .contenido__nosotros {
  padding: 0 5vw 5svh;
}
#contenedor #contenido .contenido__nosotros h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  height: 3.5rem;
  line-height: 1.1;
  color: #333;
  margin-top: 1.59svh;
}

@media only screen and (min-width: 768px) {
  #contenedor #cabecera .cabecera__contenido {
    display: flex;
  }
  #contenedor #cabecera .cabecera__contenido--moviles {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */